
<mat-card class="Header1" style="background-color:  rgb(240, 240, 240); z-index: 9999;">
  <div class="head">
    <div class="btnFechar">
      <div class="btnteste">
      <button mat-icon-button class="close-button" (click)="closeDialog()" id="fecha">
          <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button>  
      </div>
  </div>
  <h2 mat-dialog-title><span class="titulo">{{tituloacaco}}</span></h2>
  </div>
</mat-card>

<form   [formGroup]="Dataaaaa" (ngSubmit)="  Cadastrar()">           
    
  <mat-card  style="margin-top: 2rem;width: 100%;">
    <div  class="spinner-wrapper teste" *ngIf="isSpinnerDisplayed">
      <mat-spinner></mat-spinner> 
  </div> 

        <mat-card-content >   
                <div class="mat-elevation-z2" formArrayName="Tumadiscp">
                       <table mat-table [dataSource]="DataSource">
                         <ng-container matColumnDef="no">
                           <th mat-header-cell *matHeaderCellDef style="background-color: rgb(1, 35, 57);"> no </th>
                           <td mat-cell *matCellDef="let element"> {{element.no
                           }} </td>
                         </ng-container>     
                       
                         <ng-container matColumnDef="nome">
                           <th mat-header-cell *matHeaderCellDef style="background-color: rgb(1, 35, 57);"> Nome </th>
                           <td mat-cell *matCellDef="let element"> {{element.
                             nome
                             }} </td>
                         </ng-container>
                       
                   
                       
                       
                         <ng-container matColumnDef="accoes">
                   
                           <th mat-header-cell *matHeaderCellDef style="background-color: rgb(1, 35, 57);">
                             <mat-checkbox   (change)="$event ? masterToggledmz() : null"
                                           [checked]="selectiondmz.hasValue() && isAllSelecteddmz()"
                                           [indeterminate]="selectiondmz.hasValue() && !isAllSelecteddmz()" style="color: #fff;">
                             </mat-checkbox>
                           </th>
                           
                           <td mat-cell *matCellDef="let element; let i = index">
                             
                             
                       <mat-checkbox (click)="$event.stopPropagation()"
                   
                             (change)="onKeyPress($event,element,i)"
                                           [checked]="selectiondmz.isSelected(element)">
                             </mat-checkbox>
                           
                           </td>
                      

                           </ng-container>
                          
                       
                         <tr mat-header-row *matHeaderRowDef="colunas"></tr>
                         <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
                       </table>                          
                       <!-- <mat-paginator 
                       [length]="totalrecordturma"
                       [pageSize]="3"
                       [pageSizeOptions]="[3, 5, 10,20, 50]" 
                        showFirstLastButtons> </mat-paginator> -->
                     </div>
               
             
                
         </mat-card-content>
       </mat-card>
</form>



 <mat-dialog-actions class="dialogaction" style="z-index: 9999;">  



  <button (click)="  Cadastrar()" class="Save">
    <mat-icon>save</mat-icon>

    <span class="texto">
      {{botaoacao}}
    </span>

  </button>
  
  </mat-dialog-actions>
  
