

<mat-card class="Header1" style="background-color:  rgb(240, 240, 240);">
  <div class="head">
    <div class="btnFechar">
      <div class="btnteste">
      <button mat-icon-button class="close-button" (click)="closeDialog()" id="fecha">
          <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button>  
      </div>
  </div>

  <h2 mat-dialog-title ><span class="titulo">{{titloAccao}}</span></h2>
  </div>



</mat-card>
<mat-card>
  <div  class="spinner-wrapper teste"  *ngIf="isSpinnerDisplayed" style="z-index: 9; ">
    <mat-spinner></mat-spinner>
  </div>

<mat-dialog-content>

    <form [formGroup]="cadastro"  (ngSubmit)="Cadastrar()">           
    
   
          
                     <div class="contacto">
                            
                                 <mat-form-field appearance="outline" class="example-full-width">
                                   <mat-label>Código</mat-label>
                                   <input matInput type="number" formControlName="codigo" [min]="0">
                                 </mat-form-field>

                                 
                                 <mat-form-field appearance="outline" class="example-full-width">
                                  <mat-label>Descrição</mat-label>
                                  <input matInput type="text" formControlName="descricao">
                                </mat-form-field>

                                
                                 
                     </div>
                     <div class="contacto">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Turma</mat-label>
                        <input type="text" matInput [formControl]="myControlturma"
                         [matAutocomplete]="autos2erturma">
                        <mat-autocomplete #autos2erturma="matAutocomplete" >                                
                          <mat-option  *ngFor="let item of filteredOptionsturma | 
                          async; let index = index" [value]="item.descricao" (onSelectionChange)="Setturmas(item)">
                              {{ item.descricao | titlecase}}
                            </mat-option>
        
                        </mat-autocomplete>
                      </mat-form-field>
                            <mat-form-field appearance="outline" class="example-full-width">
                                   <mat-label>Ano/Sem</mat-label>
                                   <input matInput type="number" formControlName="anosem" [min]="2000">
                                 </mat-form-field>
                                 <mat-slide-toggle formControlName="hactivo" >Principal</mat-slide-toggle>
                     
                     </div>
                    
     
          

          
              <mat-tab-group>
                     <mat-tab label="Horário Semanal">                      
                            <div formArrayName="horariol" class="agrega">
                                
                                
                               <div *ngIf="visibilidadebolsa;then contentw else other_contentw">
                               </div>              
                               <ng-template #contentw> 

                                
                               <table>
                                 <thead>
                                   <tr>                                     
                                     <th>Descrição</th>
                                     <th>Hora</th>
                                     <th>segunda</th>
                                     <th>Terca</th>
                                     <th>Quarta</th>
                                     <th>Quinta</th>
                                     <th>Sexta</th>
                                     <th>Sábado</th>
                                     <th>Domingo</th>
                                     <th>
                                         <button type="button" mat-mini-fab (click)="adicionargradel()"
                                         style="background-color: rgb(2, 43, 72); color: white;">
                                         <mat-icon>plus_one</mat-icon>
                                     </button>
                                       </th>
                                   </tr>
                                 </thead>
                         
                         
                                 <tbody *ngFor="let item of horariol.controls; let i = index" [formGroupName]="i">
                         
                                   <tr>  
                                       <td>
                                         
                                             <mat-form-field appearance="outline" class="example-full-width">   
                                              <mat-label>Descrição</mat-label>                                         
                                               <input type="text" matInput  formControlName="descricao" >
                                               </mat-form-field>
                                           </td> 
                                           
                                           <td>
                                                 <!-- style="display: flex;width: 700px;" -->
                                             <mat-form-field appearance="outline" class="example-full-width"> 
                                              <mat-label>Hora</mat-label>                                           
                                               <input type="text" matInput  formControlName="hora" >
                                               </mat-form-field>
                                           </td> 
                                            <td>
                                             <mat-form-field appearance="outline" class="example-full-width"> 
                                              <mat-label>Segunda</mat-label>                                           
                                               <input type="text" matInput  formControlName="segunda" >
                                               </mat-form-field>
                                           </td> 
                                           <td>
                                            <mat-form-field appearance="outline" class="example-full-width">
                                              <mat-label>Terça</mat-label>                                            
                                              <input type="text" matInput  formControlName="terca" >
                                              </mat-form-field>
                                          </td> 
                                          <td>
                                           <mat-form-field appearance="outline" class="example-full-width"> 
                                            <mat-label>Quarta</mat-label>                                           
                                             <input type="text" matInput  formControlName="quarta" >
                                             </mat-form-field>
                                         </td> 
                                         <td>
                                          <mat-form-field appearance="outline" class="example-full-width"> 
                                            <mat-label>Quinta</mat-label>                                           
                                            <input type="text" matInput  formControlName="quinta" >
                                            </mat-form-field>
                                        </td> 
                                        <td>
                                         <mat-form-field appearance="outline" class="example-full-width">
                                          <mat-label>Sexta</mat-label>                                            
                                           <input type="text" matInput  formControlName="sexta" >
                                           </mat-form-field>
                                       </td> 
                                       <td>
                                        <mat-form-field appearance="outline" class="example-full-width"> 
                                          <mat-label>Sabado</mat-label>                                           
                                          <input type="text" matInput  formControlName="sabado" >
                                          </mat-form-field>
                                      </td> 
                                      <td>
                                       <mat-form-field appearance="outline" class="example-full-width"> 
                                        <mat-label>Domingo</mat-label>                                           
                                         <input type="text" matInput  formControlName="domingo" >
                                         </mat-form-field>
                                     </td> 
                                     <td>
                                       <button type="button" mat-mini-fab color="warn" fxFlex="nogrow"
                                       (click)="removergradel(i)"  style="cursor: pointer;
                                       "> <mat-icon>delete_sweep</mat-icon></button>
                                     </td>
                                   </tr>
                                 </tbody>
                               </table>
                         
              
                             </ng-template>
                             <ng-template #other_contentw> 
                               <div style="display: flex;justify-content: end;">
                                 <button type="button" mat-mini-fab (click)="adicionargradel()"
                                 style="background-color: rgb(2, 43, 72); color: white;">
                                 <mat-icon>plus_one</mat-icon>
                             </button>
                               </div>
                         
                         </ng-template>
              
                             </div>
                            
                    </mat-tab>

                   
              </mat-tab-group>
     
        
      
      
          
      
    </form>
</mat-dialog-content>

</mat-card>




  
<mat-dialog-actions class="dialogaction"> 
  <button (click)="Cadastrar()" class="Save">
    <mat-icon>save</mat-icon>

    <span class="texto">
      {{botaoAccao}}
    </span>

  </button>
  
  </mat-dialog-actions>
