


<div class="Cabecalho">
    <h1>Turmas</h1>
  </div>
  
   
   <section class="content">
       <div class="container-fluid">
           <div class="row">
               <div class="col-12">
                   <mat-card >
                    <h1>Adicione ou altere os dados da turma</h1>

               
<div id="btnright">

    
    <div class="btnMod ">
        <button matSuffix mat-raised-button color="accent" style="height: 35px;" (click)="novoestudante()">
            <mat-icon style="color:rgb(178, 110, 14); font-size: 1.3rem; ">add</mat-icon>
            Adicionar nova turma                             
        </button>
        


    </div>


         <form [formGroup]="frmestudantes" (ngSubmit)="getestudante()"  style="width: 50%;">
                        <mat-form-field class="example-full-width" >
                            <mat-label>Pesquisar turma por descrição </mat-label>
                            <input matInput  formControlName="nimNome" class="inputpesquisa"/>
                            <button matSuffix mat-raised-button color="accent" style="height: 35px;"
                             [disabled]="frmestudantes.invalid" type="submit" (keyup.enter)="getestudante()" class="btnpesquisa">
                                <mat-icon class='search-icon' color="primary" matSuffix>search</mat-icon>                              
                            </button>
                            
                          </mat-form-field>
                    </form>

       
</div>
              
             
                
                   
                       <mat-card-content class="dashboard-card-content">
                   
                       

                    

                           <div class="mat-elevation-z2">
                                   <div class="body table-responsive">
                                    <table mat-table [dataSource]="dataListaestudante" >   
                                
                                        <ng-container matColumnDef="no">
                                            <th mat-header-cell *matHeaderCellDef> N/O </th>
                                            <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
                                          </ng-container>
                                             <ng-container matColumnDef="codigo">
                                               <th mat-header-cell *matHeaderCellDef> Turma </th>
                                               <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                                             </ng-container>
                                             <ng-container matColumnDef="descricao">
                                               <th mat-header-cell *matHeaderCellDef> Turma </th>
                                               <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
                                             </ng-container>
           
                                             <ng-container matColumnDef="descurso">
                                               <th mat-header-cell *matHeaderCellDef> Curso </th>
                                               <td mat-cell *matCellDef="let element"> {{element.descurso.toUpperCase()}} </td>
                                             </ng-container>
           
                           
                                             <ng-container matColumnDef="etapa">
                                                   <th mat-header-cell *matHeaderCellDef> Etapa </th>
                                                   <td mat-cell *matCellDef="let element"> {{element.etapa.toUpperCase()}} </td>
                                               </ng-container>
                                               <ng-container matColumnDef="descanoaem">
                                                     <th mat-header-cell *matHeaderCellDef> Ano/Sem </th>
                                                     <td mat-cell *matCellDef="let element"> {{element.descanoaem.toUpperCase()}} </td>
                                                 </ng-container>
                                                 <!-- <ng-container matColumnDef="descgrade">
                                                       <th mat-header-cell *matHeaderCellDef> Plano Curricular </th>
                                                       <td mat-cell *matCellDef="let element"> {{element.descgrade.toUpperCase()}} </td>
                                                   </ng-container> -->
               
                               
                                               <ng-container matColumnDef="accoes">
                                                   <th mat-header-cell *matHeaderCellDef style="width: 80px;"> Accões </th>
                                                   <td mat-cell *matCellDef="let element">
                                                       <a class="dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" [matMenuTriggerFor]="dropdown">
                                                           <i class="material-icons" style="color: #0000EE">menu</i>
                                                       </a>
                                                       <mat-menu #dropdown [overlapTrigger]="false" yPosition="below">
                                                           <button mat-menu-item (click)="editarestudante(element)">
                                                               <mat-icon color="primary">edit</mat-icon><span>Editar</span>
                                                           </button>
        
                                                          
                                                           <button mat-menu-item (click)="eliminarestudante(element)">
                                                               <mat-icon color="warn">delete_sweep</mat-icon><span>Apagar</span>
                                                           </button>
                                                       </mat-menu>
                                                   </td>
                                               </ng-container>
                           
                                             <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
                                             <tr mat-row *matRowDef="let row; columns: colunasTabela;"></tr>
                           
                                             <tr class="mat-row" *matNoDataRow>
                                                <!--
                                                <td class="mat-cell" colspan="4">Nao ha dados que coinscide com o filtro {{input.value}}</td>-->
                                              </tr>
                                         
                                         </table>   
                                       
                                
                                         <mat-paginator 
                                         [length]="totalRecords"
                                         [pageSize]="5"
                                         [pageSizeOptions]="[5, 10, 20,50, 100]" 
                                         (page)="confirmPageChange($event)"
                                          showFirstLastButtons> </mat-paginator>
        
                                          
   
                               </div>
                               
                           </div>
                       
                       </mat-card-content>
                
               

                  
                                              
              
                      
                   </mat-card>
               </div>
           </div>
       </div>
   </section>
   
     
   
   <div  class="spinner-wrapper" *ngIf="isSpinnerDisplayed">
    <mat-spinner></mat-spinner>
</div> 

















   