
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

h1{
    text-align: center;
    font-size: 2rem;
    color: rgb(99, 99, 99);
    text-transform: uppercase;
    font-family: "Work Sans", sans-serif;
}


form{


    >mat-card{

        >.btn{
            width: 100%;
             height: 2rem; 
             background-color: rgb(0, 34, 66); 
             text-align: center;
             font-size: 15px;
              color: white;
        }

        >mat-card-content{

        >.nomes{
            display: flex;
            
            >mat-form-field{
                width: 100%;
                display: flex;
                justify-content: space-around;
                padding: .5rem;

                > input{
                   display: flex; 
                   justify-content: space-between;
                   width: 100%;
                }
            }
        }


    }}


    >mat-card{

        >h1{
            width: 100%;
             height: 2rem; 
             background-color: rgb(0, 34, 66); 
             text-align: center;
             font-size: 15px;
              color: white;
        }

        >mat-card-content{
            > .imagem{
                width: 100%;
                display: flex;
                justify-content: flex-end;

                >.custom-file{
                    display: flex;
                    align-items: flex-end;
                }

                >.texte{
                    width: 6.25rem;
                     height: 6.25rem;
                }
            }


            >mat-tab-group{
                


                >mat-tab{
                    >.nomes{
                        display: flex;
                        
                        >mat-form-field{
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            padding: .5rem;
            
                            > input{
                               display: flex; 
                               justify-content: space-between;
                               width: 100%;
                            }
                        }
                    }
            
            
                    >.passwords{
                        display: flex;
            
            
                        >mat-form-field{
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            padding: 1rem;
            
                            > input{
                               display: flex; 
                               justify-content: space-between;
                               width: 80%;
                            }
                        }
                    }
        
        
                }   
        
            }

     
        
    }}

}



.cont1{
    display:  flex; 
    justify-content: space-around;

    >mat-form-field {
        width: 100%;
         display: flex;
        justify-content: space-around;
        padding: .5rem;

        >input{
            width: 80%;
        }
    }
}

.contacto{

    display:  flex; 
    justify-content: space-around;

    >mat-form-field {
        width: 100%;
         display: flex;
        justify-content: space-around;
        padding: .5rem;

        >input{
            width: 80%;
        }

        >button {
            width: 80%;

        }
    }


}
.example-full-width{
    width: 100%;
}
.agrega{
padding-top: .5rem;
    width: 100%;
    >.fam{
        width: 100%;

        >button{
            width: 100%;
            background-color: rgb(43, 36, 26);

            
        };
        >.btnaddd{
            align-content: end;
        }
    } 
    >.btnaddd{
        align-content: end;
    }
}

ng-container{
    width: 100%;
    >.Add{
        width: 100%;
    }
}



      .spinner-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.10);
        display: flex;
        align-items: center;
        justify-content: center;
        }
       
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');



      
      mat-toolbar{
          position: relative;
          z-index: 5;
      }
      
      mat-sidenav-content{
          height: calc(100vh - 64px);
      }
      
      .Content{
          padding: 24px;
      }
      
      section {
        display: table;
      }
      
      .example-label {
        display: table-cell;
        // font-size: 14px;
        margin-left: 8px;
        min-width: 120px;
      }
      
      .example-button-row {
        display: table-cell;
        max-width: 600px;
      }
      
      .example-button-row .mat-mdc-button-base {
        margin: 8px 8px 8px 0;
      }
      
      .example-flex-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      
      .example-button-container {
        display: flex;
        justify-content: center;
        width: 120px;
      }


      mat-dialog-actions{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color:  rgb(240, 240, 240);
      }

      .cardsDialog{
        box-shadow: 0 4px 8px #8d8d8d;
        margin-top: 2rem;

    
    }

    .dialogaction{
        display: flex; 
        justify-content: center; 
        align-items: center;
         background-color:  rgb(240, 240, 240);
    
    
    
         >.Save{
            width: 6rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
    
    
            >mat-icon{
               color: rgb(186, 138, 4);
            }
    
            >.texto{
                display: none;
    
            }
    
         }
    
    
    
         >.Save:hover{
            width: 8rem;
    
            >mat-icon{
               display: none;
             }
    
             >.texto{
                display: block;
    
            }
         }
    }
    