// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
  

// }

// mat-toolbar{
//   position: relative;
//   z-index: 5;
// }

// mat-sidenav-content{
//   height: calc(100vh - 64px);

// }

// .Content{
//   padding: 24px;
// }

// mat-sidenav,
// mat-sidenav-content{
// transition: all 500ms ease-in-out;
// }

// mat-toolbar{
//   display: flex;
//   width: 100%;
//   justify-content: space-between;
// }



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

mat-toolbar{
position: relative;
z-index: 5;
}



.MenuTopo{
width: 100%;
background-color: white;

>.left{
  display: flex; 
  justify-content: space-between;
  justify-content: center;
   align-items: center; 
   padding: 1rem;
   transition: 1s all ease;
  
  

  >.logo{
    width: 100%;
    height: 100%;
    border-radius: 50%;

  }



  >.logotxt{
    margin-top: -.3rem;
    color: rgb(32, 45, 54); 
    padding-left: 1rem;


    >span{
    
      color:rgb(134, 78, 0);
    }
  }

}

>.left:hover{
  transform: translateX(15%);


}


>.rigth{
  width: 25%;
 
        >.direita{
          width: 100%;

          >ul{
            display: flex;
            gap: 15px;

            >li{
              position: relative;
              list-style: none;
              border-radius: 20px;
              width: 40px;
              height: 40px;
              background-color: white;
              box-shadow: 0 2px 7px #8d8d8d;
              cursor: pointer;
              transition: 1s all ease;
              display: flex;
              align-items: center;
              
              >.icones{
                display: flex;
               margin: 0 auto;

               >mat-icon{
                color: rgb(186, 138, 4);
               }
              }


              >.legenda{
                display: none;
              }
            }

            >li:hover{
              width: 180px;    
              display: flex;     
              justify-content: center;
              align-items: center;
              transition: 1s;

            }

            >li:hover .icones{
              display: none;       

            }

            >li:hover .legenda {
             display: flex;
             font-size: 14px;
             color: rgb(0, 34, 66);              
             text-align: center;

            }

            >li::before{
              content: '';
              position: absolute;
              inset: 0;
              border: 20px;
              background: linear-gradient(45deg, var(--clr), var(--clr2));
            }
          }

        }
  
}
}

mat-sidenav-content{
height: calc(100vh - 64px);


}

.Content{
padding: 24px;

}

mat-sidenav,
mat-sidenav-content{
transition: all 500ms ease-in-out;
}

mat-toolbar{
display: flex;
width: 100%;
justify-content: space-between;

}

#btn{
color: rgb(0, 34, 66);

>mat-icon {
  color:rgb(0, 34, 66) ;
}

>.saida{
  color:rgb(123, 2, 2) ;
}
}


.direita{
display: flex; 
justify-content: space-between;
 align-items: center; 
 padding: 1rem;

 >p{
  font-size: 14px;
  border-bottom: 1px solid ;
  
  color:rgb(1, 20, 36) ;
 }
}

.left{
display: flex; 
justify-content: space-between;
 align-items: center; 
 padding: 1rem;


 >p{

  border-bottom: 1px solid ;
  
  color:rgb(90, 53, 2) ;
 }
}


// @media(max-width:768px){

// .nomeprof{
// display: none;
// }


// .logotxt{
// visibility: hidden;
// }

// .Content{
// width: 100%;
// }

// .MenuTopo{
// background-color: aqua;
// display: flex;
// justify-items: center; 



// >.rigth{
//   margin-left: 0;
// }


// }

// }