    <div class="Cabecalho">
        <div class="Contactos">
            <div class="email">
                <mat-icon>email</mat-icon>
                <p>comercial</p>
            </div>
            <div class="telefone">
                <mat-icon>call</mat-icon>
                <p> +258 84 051 5627</p>
            </div>
        </div>

       <div class="redesSociais">
            <a href="#">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="#">
                <mat-icon>Instagram</mat-icon>
            </a>
            <a href="#">
                <mat-icon>youtube</mat-icon>
            </a>
            <a href="#">
                <mat-icon>linked</mat-icon>
            </a>
       </div>
    </div>
    <hr>

    <nav class="menu">

        <div class="logo">
         
            <H1 class="dmz">DMZ Sistema</H1>
        
        </div>

        <div class="Lista">

            <ul>
                <li>
                    <a href="">
                        Home
                    </a>
                </li>

                <li>
                    <a href="">
                        Sobre Nos
                    </a>
                </li>

                <li>
                    <a href="">
                        Clientes
                    </a>
                </li>
                <li>
                    <a href="">
                        Nossos Softwares
                    </a>
                </li>
                <li>
                    <a href="">
                        Serviços
                    </a>
                </li>
                <li>
                    <a href="">
                        Contacto
                    </a>
                </li>
                <li>
                    <a href="">
                        Gestao Academica
                    </a>
                </li>

            </ul>
        </div>



    </nav>


    <div class="Container">


        <div class="imagem">
            <img src="assets/foto.jpg">
        </div>

        <div class="div">
            
        </div>

    </div>
