<main >
    <div class="header">
        <img src="assets/1.png" alt=""   [height]="FotoPerfil()" [width]="FotoPerfil()" class="foto">
    
        <div class="texto" [class.Transparente]="sidenavCollapsed()">
            <h2 style="font-size: 15px; color:  rgb(255, 255, 255);" >{{nome}} </h2>
            <p  class="adminleg"><span>Administador</span></p>
        </div>  
    </div>

    <div class="cor">

    </div>
    
    <mat-nav-list >
        <!-- <a mat-list-item *ngFor="let i of menuItems()" class="menu-item" [routerLink]="i.route" routerLinkActive="menu-selecionado"  #active="routerLinkActive"  [activated]="active.isActive">
    
            <mat-icon [fontSet]="active.isActive? 'material-icons': 'material-icons-outlined'"matListItemIcon>{{i.icon}}</mat-icon>
            <span matListItemTitle class="legenda">{{i.label}}</span>
        </a> -->
        <div class="item" [style.padding-left]="paddingColapsed()">
            <a routerLink="info">
                <mat-icon matListItemIcon>
                    <span class="material-symbols-outlined">
                        dashboard
                        </span>
                </mat-icon>
                Dashboard
            </a>
        </div>
        <div class="item {{muda}}" [style.padding-left]="paddingColapsed()" [style.display]="ocultar()" *ngIf="tipo">
            <a (click)="  dropdowns.set(!dropdowns())">
                <mat-icon matListItemIcon><span class="material-symbols-outlined">
                    history_edu
                    </span></mat-icon>
                   Cadastros
                    <div class="caret"></div>
                    <!-- <mat-icon class="submenu-back" matListItemIcon><span class="material-symbols-outlined">
                        arrow_forward_ios
                        </span></mat-icon> -->
            </a>
        
    
            <div class="sub-menu" [style.display]="submenu()">
                <a routerLink="Estudantes" class="submenu-item textesubmenu">
                    <span class="icones"> <mat-icon>  school </mat-icon> </span>
                        <span class="legendatexto">Estudante</span>
                </a>
                <a routerLink="Professores" class="submenu-item textesubmenu">
                    <span class="icones"> <mat-icon> supervisor_account </mat-icon> </span>
                        <span class="legendatexto"> Professor</span>
                </a>

                <a routerLink="listaPlanoCurricular" class="submenu-item textesubmenu">
                    <span class="icones"> <mat-icon>auto_stories </mat-icon> </span>
                        <span class="legendatexto"> Plano Curricular</span>
                </a>

                <a routerLink="listaAnoLect" class="submenu-item textesubmenu">
                    <span class="icones"> <mat-icon>auto_stories </mat-icon> </span>
                        <span class="legendatexto"> Ano Lectivo</span>
                </a>

                <a routerLink="listaDisciplinas"class="submenu-item textesubmenu"> 
                    <span class="icones"> <mat-icon>auto_stories </mat-icon> </span>
                        <span class="legendatexto"> Disciplina</span>
                </a>
         
                <a routerLink="listahorario" class="submenu-item textesubmenu">

                    <span class="icones"> <mat-icon>auto_stories </mat-icon> </span>
                    <span class="legendatexto">Horario</span>
                    
                  
                </a>
        
                <a routerLink="listaTurma" class="submenu-item textesubmenu">
                    
                    <span class="icones"> <mat-icon>auto_stories </mat-icon> </span>
                    <span class="legendatexto">  Turmas</span>
                   
                
                </a>
             
                <a routerLink="listaCurso" class="submenu-item textesubmenu">

                    <span class="icones"> <mat-icon>auto_stories </mat-icon> </span>
                    <span class="legendatexto">Curso</span>
                    
                    
                </a>

                <a routerLink="planoPag" class="submenu-item textesubmenu">

                    <span class="icones"> <mat-icon>auto_stories </mat-icon> </span>
                    <span class="legendatexto">Plano Pagamento</span>
                    
                    
                </a>

            </div>
        </div>

              <!-- --------------------------------------------------------------------------------- -->
    
              <div class="item  {{muda}}" [style.padding-left]="paddingColapsed1()" [style.display]="ocultar()" *ngIf="Tipoperfil">
                <a (click)="dropdowns1.set(!dropdowns1())">
                    <mat-icon matListItemIcon><span class="material-symbols-outlined">
                        list_alt_add
                        </span></mat-icon>
                        Facturação
        
                        <div class="caret" [style.transform]="factura()"></div>
                 
                </a>
            
        
                <div class="sub-menu" [style.display]="submenu1()" >
    
    
                    <a routerLink="Facturacao"class="submenu-item textesubmenu" > 
                        <span class="icones"> <mat-icon>auto_stories </mat-icon> </span>
                            <span class="legendatexto"> Facturas</span>
                    </a> 
             
                    <a routerLink="FrmRcl" class="submenu-item textesubmenu" >
    
                        <span class="icones"> <mat-icon>auto_stories </mat-icon> </span>
                        <span class="legendatexto">Recibo</span>
                        
                      
                    </a>
            
                 
    
                </div>
            </div>
              <!-- --------------------------------------------------------------------------------- -->
               
                         <!-- --------------------------------------------------------------------------------- -->
    
                         <div class="item  {{muda}}" [style.padding-left]="paddingColapsed2()" [style.display]="ocultar()" *ngIf="Tipoperfil">
                            <a (click)="dropdowns2.set(!dropdowns2())">
                                <mat-icon matListItemIcon><span class="material-symbols-outlined">
                                    list_alt_add
                                    </span></mat-icon>
                                    Inscricções
                    
                                    <div class="caret" [style.transform]="incricoes()"></div>
                             
                            </a>
                        
                    
                            <div class="sub-menu" [style.display]="submenu2()" >
                
                
                                <a routerLink="listaMatricula"class="submenu-item textesubmenu" > 
                                    <span class="icones"> <mat-icon>edit_square </mat-icon> </span>
                                        <span class="legendatexto"> Matricula</span>
                                </a> 
                         
                                <a routerLink="inscriccoes" class="submenu-item textesubmenu" >
                
                                    <span class="icones"> <mat-icon>auto_stories </mat-icon> </span>
                                    <span class="legendatexto">Inscrições</span>
                                    
                                  
                                </a>
                        
                             
                
                            </div>
                        </div>
                          <!-- --------------------------------------------------------------------------------- -->
                        

        <!-- <div class="item" [style.padding-left]="paddingColapsed()" *ngIf="tipo">
            <a routerLink="listaMatricula">
                <mat-icon matListItemIcon>
                   
                        edit_square
                       
                    </mat-icon>
              Matricula
            </a>
        </div> -->

        <div class="item" [style.padding-left]="paddingColapsed()" *ngIf="Tipoperfil">
            <a routerLink="GeradorRpt">
                <mat-icon matListItemIcon>print_error</mat-icon>
                Relatorios
            </a>
        </div>
        <div class="item" [style.padding-left]="paddingColapsed()" *ngIf="Admin" >
            <a routerLink="Permisoes">
                <mat-icon matListItemIcon>web</mat-icon>
               permissões
            </a>
        </div>


        
    </mat-nav-list>
    
        <div class="cor">
        
    </div>
    
    <div class="item-foot">
      
        <div class="roda">
          
        </div>
        
    </div>
   
</main>
