
<mat-toolbar class="mat-elevation-z3 MenuTopo" 
(mousemove)="onUserAction()" 
            (click)="onUserAction()"
            (keypress)="onUserAction()"

>
    <div class="left" (click)="collapsed.set(!collapsed())">
       
        <!-- <img src="assets/foto.jpg" alt="" class="logo"> -->
        <div class="textando">     <mat-icon  ><span class="material-symbols-outlined">
            menu
            </span></mat-icon></div>
   

        <h2 style="font-size: 15px;"  class="logotxt"> <span >DMZ </span> SOFTWARE</h2>
    
    </div>
    
        
    
    
    <div class="rigth" >
     
    
        <div class="direita" >

            <ul>
                <li  routerLink="/secret/info">
                    <span class="icones">
                        <mat-icon >
                            home
                           </mat-icon>
                    </span>
                    <span class="legenda">
                        Home
                    </span>

                </li>
               

                <li (click)="Back()">
                    <span class="icones">
                        <mat-icon >
                            <span class="material-symbols-outlined">
                                arrow_back
                                </span>
                           </mat-icon>
                    </span>
                    <span class="legenda">
                        Voltar
                    </span>
                </li>

                <li (click)="Refresh()" routerLink="/Login">
                    <span class="icones">
                        <mat-icon >
                                output_circle
                           </mat-icon>
                    </span>
                    <span class="legenda">
                        Sair
                    </span>

                </li>


           
            </ul>
          
        </div>
    
    </div>
      
    </mat-toolbar>
    
    <mat-sidenav-container class="nav-class">
        <mat-sidenav opened mode="side" [style.width]="sidenavWidth()" 
        (mousemove)="onUserAction()" 
            (click)="onUserAction()"
            (keypress)="onUserAction()"
        
        >
            <app-navsecretaria [collapsed]="collapsed()"
            (mousemove)="onUserAction()" 
            (click)="onUserAction()"
            (keypress)="onUserAction()"
            ></app-navsecretaria>
            
        </mat-sidenav>
    
    
        <mat-sidenav-content class="Content" [style.margin-left]="sidenavWidth()" 
        (mousemove)="onUserAction()" 
            (click)="onUserAction()"
            (keypress)="onUserAction()"
        
        >
            <router-outlet 
            
            (mousemove)="onUserAction()" 
            (click)="onUserAction()"
            (keypress)="onUserAction()"></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
