


<div class="Cabecalho">
    <h1>Situação Pedagogica</h1>
   
  </div>


   <section class="content">
       <div class="container-fluid">
           <div class="row">
               <div class="col-12">
                   <mat-card >
                    <h1 class="h1titulo" style="font-size: 1rem;">Situação Pedagógica</h1>
      <div class="btnright11">
     
                    <div class="form11">
                        <mat-form-field appearance="outline" style=" padding-top: 1rem;" >
                            <mat-label>Pesquisar</mat-label>
                            <input matInput placeholder="Pesquisar por disciplina"  (keyup)="busca($event)"/>
                          </mat-form-field>
                    </div>
                  
               </div>
               <div  class="spinner-wrapper teste"   *ngIf="isSpinnerDisplayed">
                <mat-spinner></mat-spinner>
              </div>
                       <mat-card-content class="dashboard-card-content">




                           <div class="mat-elevation-z2">
                                   <div class="body table-responsive">
                               <table mat-table [dataSource]="dataListaProfessor" >

                                <ng-container matColumnDef="no">
                                    <th mat-header-cell *matHeaderCellDef style="background-color: rgb(1, 35, 57);"> N/O </th>
                                    <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
                                  </ng-container>

                                     <ng-container matColumnDef="disciplina">
                                       <th mat-header-cell *matHeaderCellDef style="background-color: rgb(1, 35, 57);"> Disciplina </th>
                                       <td mat-cell *matCellDef="let element"> {{element.displina.toUpperCase()}} </td>
                                     </ng-container>
                                     <ng-container matColumnDef="etapa">
                                       <th mat-header-cell *matHeaderCellDef style="background-color: rgb(1, 35, 57);"> Etapa </th>
                                       <td mat-cell *matCellDef="let element"> {{element.etapa.toUpperCase()}} </td>
                                     </ng-container>




                                       <ng-container matColumnDef="accoes">
                                           <th mat-header-cell *matHeaderCellDef style="background-color: rgb(1, 35, 57);"> Accões </th>
                                           <td mat-cell *matCellDef="let element">
                                               <a class="dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" [matMenuTriggerFor]="dropdown">
                                                   <i class="material-icons" style="color: #0000EE">menu</i>
                                               </a>
                                               <mat-menu #dropdown [overlapTrigger]="false" yPosition="below">


                                                <button mat-menu-item (click)="VerPauta(element,'frequencia')">
                                                  <mat-icon color="primary">photo_camera</mat-icon><span>Pauta</span>
                                              </button>



                                              <!-- <button mat-menu-item (click)="VerPauta(element,'exmnormal')">
                                                <mat-icon color="warn">report</mat-icon><span>Pauta exame normal</span>
                                            </button>
                                            <button mat-menu-item (click)="VerPauta(element,'exmrecorrencia')">
                                              <mat-icon color="warn">unarchive</mat-icon><span>Pauta exame de Recorrência</span>
                                          </button> -->

                                                   <button mat-menu-item (click)="Trabalho(element)">
                                                       <mat-icon color="warn">picture_as_pdf</mat-icon><span>Trabalho</span>
                                                   </button>

                                               
                                               </mat-menu>
                                           </td>
                                       </ng-container>

                                     <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
                                     <tr mat-row *matRowDef="let row; columns: colunasTabela;"></tr>

                                     <tr class="mat-row" *matNoDataRow>
                                        <!--
                                        <td class="mat-cell" colspan="4">Nao ha dados que coinscide com o filtro {{input.value}}</td>-->
                                      </tr>

                                 </table>


                                 <mat-paginator
                                 [length]="totalRecords"
                                 [pageSize]="5"
                                 [pageSizeOptions]="[5, 10, 20,50, 100]"
                                 (page)="confirmPageChange($event)"
                                  showFirstLastButtons> </mat-paginator>



                               </div>

                           </div>



                       </mat-card-content>
                    <br>
                       <mat-divider></mat-divider>

                   </mat-card>
               </div>
           </div>
       </div>

   </section>





