
<mat-card class="Header1" style="background-color:  rgb(240, 240, 240); z-index: 9999;">
  <div class="head">
    <div class="btnFechar">
      <div class="btnteste">
      <button mat-icon-button class="close-button" (click)="closeDialog()" id="fecha">
          <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button>  
      </div>
  </div>
  <h2 mat-dialog-title><span class="titulo">{{tituloacaco}}</span></h2>
  </div>
</mat-card>
<mat-card style="display: flex; padding: 2rem; align-items: center; justify-content: center;">
  <div  class="spinner-wrapper teste" *ngIf="isSpinnerDisplayed">
    <mat-spinner></mat-spinner>
</div> 


<form  [formGroup]="Alterar" style="width: 100%;">
<div class="div" style="gap: 2rem; display: flex; width: 100%;">
  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">                                   
    <mat-label>Nome do utilizador</mat-label>
    <input type="text" matInput formControlName="email" >
  </mat-form-field>


  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
    <mat-label>Tipo de permissões</mat-label>
    <mat-select formControlName="tipoperfil">
      <!-- <mat-option value="">None</mat-option> -->
      <mat-option value="3">Academico</mat-option>
      <mat-option value="4">Financeiro</mat-option>
      <mat-option value="5">Administrador</mat-option>  
    </mat-select>
  </mat-form-field>
</div>
</form>

</mat-card>

<mat-dialog-actions class="dialogaction" style="z-index: 9999;"> 

  


  <button class="Save" (click)="Mudaperfil()">
    <mat-icon>save</mat-icon>

    <span class="texto">
      {{botaoacao}}
    </span>

  </button>
  
  </mat-dialog-actions>



  