
<div class="btn">
    <button (click)="closeDialog()" >
        <mat-icon >
            close
        </mat-icon>
    </button>
</div>
<div class="cabecalho">


    <div class="titulo">
        <h1> Menu da Disciplina</h1>
    </div>

    
    
   
</div>

<div class="Container"  >
   

    
       <mat-divider></mat-divider>
       
         <div class="div">
            <button mat-raised-button (click)="carrega('trabalho')" class="btnaluno2" color="warn" (click)="closeDialog()">
                trabalhos <mat-icon >
                   forward
               </mat-icon>
               
               </button>

            <button mat-raised-button (click)="carrega('teste')" class="btnaluno1"  (click)="closeDialog()">
            TESTES   <mat-icon>
              forward
          </mat-icon>
            
            </button>
      
            <button mat-raised-button (click)="carrega('exame')" class="btnaluno" color="warn" (click)="closeDialog()">
                 Exames <mat-icon >
                    forward
                </mat-icon>
                
                </button>


                
           </div>
      
           <div class="div">
            <button mat-raised-button (click)="Result('2')" class="btnaluno2" style="background-color: rgb(1, 69, 1); color: white;" (click)="closeDialog()">
                Medias <mat-icon>
      
                    calculate
                
                </mat-icon>
               
               </button>

            <button mat-raised-button (click)="Result('1')" class="btnaluno1" style="background-color: rgb(69, 1, 1);" (click)="closeDialog()">
            Resultado   <mat-icon >
                list_alt
           
              </mat-icon>
            
            </button>
      
            

                
           </div>
           <mat-divider></mat-divider>

<!--           
            <h3>Parametro de avaliacao</h3>
<div class="parametros">
    <div class="Quantidade">
        <p>Escolha o numero de Avaliacoes</p>


        <mat-form-field>
            <mat-label>Quantidade</mat-label>
            <select matNativeControl required>
      
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </mat-form-field>
        
    </div>

    <div class="Media">
        <p>Como deseja fazer o calculo de media</p>

      
    </div>

</div>
        -->
    

         

</div>















     